.overflow-x-hidden {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 70vw;
    -webkit-scrollbar-width: thin;
    scrollbar-width: thin;
}

.dropdown-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}