.sidebar-nav {
    max-width: 15rem;
    background-color: #ccc;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    flex-direction: column;
    transform-origin: left;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(.69, .33, .01, 1.01);
    white-space: nowrap;
    height: 100vh;

    a {
        color: inherit;
        width: 100%;
        font-size: 1.25rem;
        text-decoration: none;
    }
}

.sidebar-nav h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.sidebar-nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 7rem;
}

.sidebar-nav ul li {
    width: 100%;
    margin: .5rem auto;
    flex-shrink: 0;
    /* text-align: center; */
    text-transform: capitalize;
    
    button {
        display: 100%;
        font-size: 1.1rem;
        text-align: center; 
        width: 100%;
        background-color: #ccc;
        border: none;
        padding: 1rem 0;
        cursor: pointer;
        transition: 0.5s;
        outline: none;
        border: none;

        &:hover {
            background-color: #e0e0e0;
            transition: 0.5s;
            cursor: pointer;
        }
    }
}

.sidebar-nav ul li:hover {
    /* background-color: #bdbdbd; */    
    background-color: #e0e0e0;
    transition: 0.5s;
    cursor: default;
}

.toggle-btn {
    width: 2rem;
    height: 2rem;
    border: 2px solid;
    background-color: #eee;
    /* color: #fff; */
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 1000;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: .25vw;
    transition: .5s linear;
    outline: none;
    border: none;

    &:hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
    }
}

.active {
    background-color: #eee;
}

.analysis-link {
    width: 100%;
    display: block;
    padding: .75rem 0;

    i {
        margin-inline: 1rem;
    }
}