
/*! App Level CSS */
.main-wrapper {
  display: flex;
}


/* Dashboard Level CSS */
.dashboard-wrapper, .team-wrapper, .product-wrapper {
  width: 100%;
  height: 100%;
  background-color: #eee;
  display: grid;
  place-items: center;
}

.dashboard-wrapper section, .team-wrapper section, .product-wrapper section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expenditure-card {
  background-color: #E5E5E5;
  /* Light gray background */
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}

.expenditure-card h2 {
  font-size: 24px;
  font-weight: 500;
  color: black;
}

.time-period {
  font-size: 22px;
  font-weight: 400;
  color: black;
}

.total-amount {
  font-size: 48px;
  font-weight: 700;
  color: black;
  margin-top: 20px;
}

.expenditure-card p {
  font-size: 20px;
}

/* Team Level CSS */


/* Product Level CSS */



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}